.ModalSideBar {
    width: 295px;
}
.ModalItem {
    padding: 10px;
    color: white;
}
.ModalItem a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: white;
    padding: 10px;
    transition: background-color 0.3s ease;
}
.ModalItem a:hover {
    background-color: #454545;
}
.btn-danger-custom:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
.SvgIcon {
    width: 22px;
    height: 22px;
}
.footer{
    background-color: #1F1F1F;
    padding: 1rem;
    bottom: 0;
    position: fixed;
}
.footer .container img{
    height:2rem;
}
.footer .container p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: center;
    color: #f7f7f7;
}

.footer .container .col-l {
     float: left; /*flutua para a esquerda*/
}
.footer .container .col-r {
     float: right; /*flutua para a direita*/
}
.footer .container:after {
    clear: both;
    height: 0;
    display: block;
    content: "";
}
